.container {
  margin: 20px;
  display: grid;
  height: 30rem;
  /* width: 50rem; */
  /* grid-template-columns: 200px 6rem 20% auto; */
  grid-template-columns: [hd-start] repeat(4, [col-start] 20% [col-end]) [hd-end];
  /* grid-template-rows: 5rem 7rem auto; */
  grid-template-rows:
    [hd-start] 2rem [hd-end row-2-start] minmax(20px, 40px)
    [row-2-end row-3-start] 100px [row-3-end row-4-start] 5rem [row-4-end];
  /* grid-column-gap: 20px;
  grid-row-gap: 10px; */
  /* grid-gap: 10px 20px; */
  justify-items: stretch;
  /* align-items: center; */
  /* justify-content: start;
  align-content: start; */
}

@media (max-width: 40rem) {
  .container {
    grid-template-rows:
      [hd-start] 2rem [hd-end row-2-start] minmax(20px, 40px)
      [row-2-end row-3-start] 100px [row-3-end row-4-start] 5rem [row-4-end row-5-start] 5rem [row-5-end];
  }
}

.el1 {
  background: rgba(255, 154, 72, 0.5);
  /* grid-column-start: 1;
  grid-column-end: -4; */
  /* grid-area: "o"; */
  /* grid-column: col-start 1 / col-end 3; */
  grid-area: hd;
}

.el2 {
  background: rgba(255, 0, 0, 0.5);
  /* grid-column-start: 2;
  grid-column-end: -3; */
  /* grid-column: 2/-3; */
  /* grid-row-start: row-2-start;
  grid-row-end: row-4-start; */
  /* grid-row: row-2-start/ row-4-start; */

  grid-area: row-2-start/ 2 / row-4-start / -3;
  /* grid-area: head; */
  /* justify-self: center;
  align-self: center; */
}

.el3 {
  background: rgba(0, 128, 0, 0.5);
  grid-column-start: 3;
  grid-column-end: span 2;
  grid-row-start: 3;
  grid-row-end: span 2;
}

.el4 {
  background: rgba(0, 4, 255, 0.5);
  grid-column-start: 4;
  grid-column-end: -1;
  grid-row-start: 4;
  grid-row-end: span 1;
}
