body {
  font-family: "Montserrat Alternates", sans-serif;
  color: black;
}

#product-overview {
  background: #ff1b68;
}

#product-overview h1 {
  color: rgb(0, 150, 92);
  /* font-family: san-serif; */
  font-family: "Oswald", sans-serif;
}

.section-title {
  color: #2ddf5c;
  /* font-family: inherit; */
}
