code {
  font-family: monospace;
  color: rgb(245, 12, 12);
}
.second-list-code {
  color: rgb(71, 228, 71);
}

h1 {
  font-family: sans-serif;
  color: pink;
}
body {
  font-family: sans-serif;
}
li {
  /* font-family: inherit; */
}
